body {
  background: black;
  align-items: center;
  margin: 50px auto;
  color: #d6c8b2;
}
img {
  width: 350px;
  height: 200px;
  object-fit: contain;
  display: block;
  margin: auto;
}
a,
p {
  font-family: "Julius Sans One", sans-serif;
  font-size: 17px;
  letter-spacing: 2px;
  color: #d6c8b2;
  cursor: pointer;
}
a {
  text-decoration: none;
  margin: auto;
}
p {
  margin: 0 auto;
  padding: 30px;
}
.parent {
  align-items: center;
  display: grid;
  grid-template-areas:
    "resume about github"
    "park pink brewery"
    "timeline linkedin petit";
  grid-template-rows: 200px 200px 200px;
  grid-template-columns: 1fr 1fr 1fr;
  margin: 0 auto;
}
.child {
  position: relative;
  display: block;
  margin: 0 auto;
  text-align: center;
}
.project:hover {
  width: 350px;
  height: 200px;
  margin: auto;
}
.project a,
.project img {
  /* visibility: hidden;
  opacity: 0; */
  /* display: block; */
  display: none;
  transition: all 0.3s ease;
}
.project img {
  position: absolute;
  top: 0;
  height: 0;
}
.project:hover img {
  height: 200px;
}
.project-links {
  position: relative;
  bottom: -200px;
  display: flex;
  justify-content: space-between;
}
.project:hover img,
.project:hover a {
  /* visibility: visible;
  opacity: 1; */
  display: block;
}
.project:hover p {
  display: none;
}
.brewery {
  grid-area: brewery;
  text-align: center;
  transition: all 0.3s ease-in-out;
}
.about {
  grid-area: about;
  text-align: center;
}
.aboutLink {
  font-family: "Tangerine", cursive;
  letter-spacing: 1px;
  font-size: 45px;
  overflow: visible;
  display: inline-block;
  height: 65px;
}
.timeline {
  grid-area: timeline;
  text-align: center;
  transition: all 0.3s ease-in-out;
}
.linkedin {
  grid-area: linkedin;
  text-align: center;
}
.petit {
  grid-area: petit;
  text-align: center;
  transition: all 0.3s ease-in-out;
}
.park {
  grid-area: park;
  text-align: center;
  transition: all 0.3s ease-in-out;
}
.pink {
  grid-area: pink;
}
.resume {
  grid-area: resume;
}
.middle {
  height: 375px;
}
a:hover {
  font-weight: bold;
}
.homePage {
  display: block;
  text-align: center;
}
a:visited {
  color: #d6c8b2;
}
