body {
    background: black;
    align-items: center;
    margin: 50px auto;
    color: #D6C8B2;
}
.child {
    display: block;
    align-items: center;
}
img {
    width: 350px;
    height: 200px;  
    object-fit: contain;
    display: block;
    margin: auto;
}
.resume {
    text-align: center;
}
.github {
    text-align: center;
}
a {
    font-family: 'Julius Sans One', sans-serif;
    font-size: 17px;
    text-decoration: none;
    letter-spacing: 2px;
    text-align: center;
    margin: auto;
    color: #D6C8B2;
    cursor: pointer;
}
h1 {
    font-family: 'Julius Sans One', sans-serif;
    letter-spacing: .7px;
    font-weight: bold;
    /* color: #FFF8DC; */
    text-align: center;
    margin: 50px auto;
}
p {
    font-family: 'Julius Sans One', sans-serif;
    letter-spacing: .7px;
    font-weight: bold;
    /* color: #FFF8DC; */
    text-align: center;
    margin: 0 auto;
    padding: 30px;
}
.parent {
    align-items: center;
    display: grid;
    grid-template-rows: 200px 200px 200px;
    grid-template-columns: 1fr 1fr 1fr;
}
.brewery {
    grid-row: 2 / span 1;
    grid-column: 3 / span 1;
    text-align: center;
}
.brewery:hover {
    background: url("./brewery_finder.jpg") no-repeat;
    width: 350px;
    height: 200px;
    cursor: pointer;
}
.about {
    grid-row: 1 / span 1;
    grid-column: 2 / span 1;
    text-align: center;
}
.hangman {
    grid-row: 3 / span 1;
    grid-column: 1 / span 1;
    text-align: center;
}
.email {
    grid-row: 3 / span 1;
    grid-column: 2 / span 1;
    text-align: center;
}
.email {
    grid-row: 3 / span 1;
    grid-column: 2 / span 1;
    text-align: center;
}
.petit {
    grid-row: 3 / span 1;
    grid-column: 3  / span 1;
    text-align: center;
}
.park {
    grid-row: 2 / span 1;
    grid-column: 1 / span 1;
    text-align: center;
}
.pink {
    grid-row: 2 / span 1;
    grid-column: 2 / span 1;
}
.middle {
    height: 375px;
}
a:hover {
    font-weight: bold;
} 
.homePage {
    display: block;
    text-align: center
}
a:visited {
    color: #D6C8B2;
}
.title {
    font-family: 'Tangerine', cursive;
    margin-bottom: 0;
    letter-spacing: 4px;
    font-size: 70px;
}