body {
    background: black;
    align-items: center;
    margin: 50px auto;
    color: #D6C8B2;
}
.child {
    display: block;
    align-items: center;
    margin: 0 auto;
}
img {
    width: 350px;
    height: 200px;  
    object-fit: contain;
    display: block;
    margin: auto;
}
.resume {
    text-align: center;
}
.github {
    text-align: center;
}
a {
    font-family: 'Julius Sans One', sans-serif;
    font-size: 17px;
    text-decoration: none;
    letter-spacing: 2px;
    text-align: center;
    margin: auto;
    color: #D6C8B2;
    cursor: pointer;
}
h1 {
    font-family: 'Julius Sans One', sans-serif;
    letter-spacing: .7px;
    font-weight: bold;
    /* color: #FFF8DC; */
    text-align: center;
    margin: 50px auto;
}
p {
    font-family: 'Julius Sans One', sans-serif;
    letter-spacing: .7px;
    font-weight: bold;
    /* color: #FFF8DC; */
    text-align: center;
    margin: 0 auto;
    padding: 30px;
}
.parent {
    align-items: center;
    display: grid;
    grid-template-rows: 200px 200px 200px;
    grid-template-columns: 1fr 1fr 1fr;
    margin: 0 auto;
}
.brewery {
    grid-row: 2 / span 1;
    grid-column: 3 / span 1;
    text-align: center;
}
.brewery a, .brewery img {
    display: none;
}
.brewery:hover {
    width: 350px;
    height: 200px;
    margin: auto;
}
.brewery:hover img, .brewery:hover a {
    display: block;
}
.brewery:hover p {
    display: none;
}
.about {
    grid-row: 1 / span 1;
    grid-column: 2 / span 1;
    text-align: center;
}
.aboutLink {
    font-family: 'Tangerine', cursive;
    letter-spacing: 1px;
    font-size: 45px;
    overflow: visible;
    display: inline-block;
    height: 65px;
}
.hangman {
    grid-row: 3 / span 1;
    grid-column: 1 / span 1;
    text-align: center;
}
.hangman a, .hangman img {
    display: none;
}
.hangman:hover {
    width: 350px;
    height: 200px;
    margin: auto;
}
.hangman:hover img, .hangman:hover a {
    display: block;
}
.hangman:hover p {
    display: none;
}
.email {
    grid-row: 3 / span 1;
    grid-column: 2 / span 1;
    text-align: center;
}
.petit {
    grid-row: 3 / span 1;
    grid-column: 3  / span 1;
    text-align: center;
}
.petit a, .petit img {
    display: none;
}
.petit:hover {
    width: 350px;
    height: 200px;
    margin: auto;
}
.petit:hover img, .petit:hover a {
    display: block;
}
.petit:hover p {
    display: none;
}
.park {
    grid-row: 2 / span 1;
    grid-column: 1 / span 1;
    text-align: center;
}
.park a, .park img {
    display: none;
}
.park:hover {
    width: 350px;
    height: 200px;
    margin: auto;
}
.park:hover img, .park:hover a {
    display: block;
}
.park:hover p {
    display: none;
}
.pink {
    grid-row: 2 / span 1;
    grid-column: 2 / span 1;
}
.middle {
    height: 375px;
}
a:hover {
    font-weight: bold;
} 
.homePage {
    display: block;
    text-align: center
}
a:visited {
    color: #D6C8B2;
}
